<!--About-->
<div class="container text-center">
  <h2><u> About </u></h2><br>
  <p><i>I’m <b>Vinay Kumar Mannem</b>, a Software Engineer from India. I did my graduation in the stream of Electronics Communication Engineering in India.
      I had been in multiple domains and roles in my 4 years of my employment. Most of employment perios I worked as BI(Business Intelligence) developer in analytics team.
      As a BI developer, my interest towards data analytics, robotics and especially on AI has grown.
      I worked on Customer Information Management System (CIMS) and Direct Marketing Application. Responsibilities are basically fetch the data and generate reports with different level of granularity/groupings.
      It requires good analytical models to build data ware house, after filtered the analysed data fetched from different data source. Reports were built pointing to the same data ware house.
      In detail of my exprience and career are available in the</i> <a href="/assets/images/me.png" download> Resume</a>
  </p>
  <h4><a href="/services">LET'S BUILD SOMETHING AMAZING TOGETHER</a></h4>
  <p style="text-align:right!important">
    <b> Vinay Kumar Mannem</b>
  <p>
</div>