<div class = "text-center">
    <img src="/assets/images/me.png" alt="Avatar" style="width:200px;margin:20px;">  
    <br>
    <i>I create the beautiful design that makes difference</i>
    <h1 class="display-4">Welcome to Vinay's World</h1>
    <p>Learn more <a href = "/about">about me</a></p>
    <br>
</div>