    <!--Projects-->
    <div class="container" id = "projects">
        <h2 class="text-center"><u> Projects </u></h2><br>
        <div class = "row">          
          <div class = "col-sm">
            <p><b>Title/Name of the application: Direct Marketing Application and IRR </b></p>
            <p><b>Description: </b>Download the data from Direct Marketing applications and other systems. Analyze the data and perforom
            cleanse analysis and develop the dataware house using the analytics models. Use the data mart and generate the analysis reports
            to the clients, which could finanical analytics or product statistics.</p>
            <p><b>Role: </b>Business Developer</p>
          </div>
          <div class = "col-sm text-center" ><img src="/assets/images/AIG-logo.png"/></div>
        </div><br>
        <div class = "row">
          <div class = "col-sm text-center"><img src="/assets/images/Flipkart-Logo.jpg"/></div>
          <div class = "col-sm">
            <p><b>Title/Name of the application: </b>Redbus</p>
            <p><b>Description:</b> Designed and developed user-friendly website, including optimized check-out pages that increased user clicks by 20%
            </p>
            <p><b>Role: </b>Web Developer</p>
          </div>
        </div><br>
        <div class = "row">         
          <div class = "col-sm">
            <p><b>Title/Name of the application: </b>Flipkart</p>
            <p><b>Description:</b> Designed merchandising stratagies for grocery retailers based on a regression analysis identifying
            key stores, attirbutes to increase traffic and conversion; resulted in a 25 percent sales lift </p>
            <p><b>Role: </b>Data Analyst</p>
          </div>
           <div class = "col-sm text-center"><img src="/assets/images/redbus-logo.jpg"/></div>
        </div>
      </div>